@media screen and (max-width: 876px){
    .cabecalho{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .cabecalho__logo{
        margin: 0;
    }
    .cabecalho__lista{
        margin-right: 20px;
    }

}