.rodape{
    background-color: #f9f9f9;
    overflow: hidden;
    padding: 30px;
}
.rodape__conteudo{
    align-items: center;
    display: flex;
    justify-content: center;
}
.rodape__conteudo-titulo{
    font-size: 1.5rem;
}